# Copyright (C) Max Mu
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# version 2, as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License version 2 for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
#
# Please visit www.joshvm.org if you need additional information or
# have any questions.
#

#
#
# Copyright  1990-2009 Sun Microsystems, Inc. All Rights Reserved.
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License version
# 2 only, as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# General Public License version 2 for more details (a copy is
# included at /legal/license.txt).
#
# You should have received a copy of the GNU General Public License
# version 2 along with this work; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
# 02110-1301 USA
#
# Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa
# Clara, CA 95054 or visit www.sun.com if you need additional
# information or have any questions.
#
###############################################################################
# This file specifies the romized classes that should be initialized
# at build time/VM load time.
#

# Classes that should be initialized at build-time instead of run-time
#
InitAtBuild = com.sun.midp.crypto.MD5
InitAtBuild = com.sun.midp.crypto.MessageDigest
InitAtBuild = com.sun.midp.crypto.SHA
InitAtBuild = com.sun.midp.crypto.Util

# Do not rename the fields of the following classes because
# they are accessed via KNI_GetFieldID
#

# Do not rename the following classes because they are instantiated
# via Class.forName() or used by test MIDlets not in ROM
#


# Do not rename the following classes because they are accessed
# via KNI_FindClass
#

# These packages are hidden
# Non-romized code is prevented from accessing even public methods/fields
# of classes in these packages
#
#HiddenPackage = com.sun.midp.crypto
HiddenPackage = com.sun.midp.pki
HiddenPackage = com.sun.midp.publickeystore
HiddenPackage = com.sun.midp.security
HiddenPackage = com.sun.midp.ssl
HiddenPackage = com.joshvm.java.io
HiddenPackage = com.joshvm.java.math
HiddenPackage = com.joshvm.java.security
HiddenPackage = com.joshvm.java.util
HiddenPackage = com.joshvm.midp.pki
#HiddenPackage = org.bouncycastle

# These packages are restricted
# Non-romized code cannot load new classes into them
#

# Quick native functions are smaller in ROM footprint and are faster to invoke.
# Do not use quick native for Java native function calls that have
# KNIxxxNewxxx, SNIxxxNewxxx, Throw, and SNI_ statements.
#

# Do NOT do quick native the following classes
#

DontRenameClass = com.sun.midp.pki.X509Certificate
DontRenameNonPublicMethods = com.sun.midp.pki.X509Certificate
