# Copyright (C) Max Mu
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER
# 
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# version 2, as published by the Free Software Foundation.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License version 2 for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
# 
# Please visit www.joshvm.org if you need additional information or
# have any questions.
#

#
#
# Copyright  1990-2009 Sun Microsystems, Inc. All Rights Reserved.
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER
# 
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License version
# 2 only, as published by the Free Software Foundation.
# 
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# General Public License version 2 for more details (a copy is
# included at /legal/license.txt).
# 
# You should have received a copy of the GNU General Public License
# version 2 along with this work; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
# 02110-1301 USA
# 
# Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa
# Clara, CA 95054 or visit www.sun.com if you need additional
# information or have any questions.
#
###############################################################################
# This file specifies the romized classes that should be initialized
# at build time/VM load time.
#

# Include the VMs configuration file
#

# Classes that should be initialized at build-time instead of run-time
#

# init SecurityInitializer cause UnsatisfiedLinkError: loadGroupList  in Permssions class 
# because Permissions.init() contains native call which not exist in romizer
#InitAtBuild = com.sun.midp.security.SecurityInitializer

# We cannot uncomment these unless we modify the implementation
# Calls native method
#InitAtBuild = javax.microedition.lcdui.Display
#InitAtBuild = javax.microedition.lcdui.Theme
#InitAtBuild = com.sun.midp.lcdui.Text

# Do NOT initialize class at build-time because they call System.getProperty()
#InitAtBuild = javax.microedition.lcdui.AlertLFImpl
#InitAtBuild = javax.microedition.io.Connector
#InitAtBuild = com.sun.midp.appmanager.Manager
#InitAtBuild = com.sun.midp.events.EventQueue
#InitAtBuild = com.sun.midp.io.NetworkConnectionBase
#InitAtBuild = com.sun.midp.io.j2me.datagram.Protocol
#InitAtBuild = com.sun.midp.io.j2me.http.Protocol

#InitAtBuild = com.sun.midp.lcdui.DisplayDeviceAccess
#InitAtBuild = com.sun.midp.lcdui.i18n.Resource

# Creates a new Thread in static block
#InitAtBuild = com.sun.midp.events.NativeEventMonitor

# Initializes SecurityToken at run-time
#InitAtBuild = javax.microedition.rms.RecordStore

# Do NOT apply to DateFiledLFImpl, otherwise timezone
# will be hardcoded to compile machine timezone
#InitAtBuild = javax.microedition.lcdui.DateFieldLFImpl


# Do not rename the fields of the following classes because
# they are accessed via KNI_GetFieldID
#

# Do not rename the following classes because they are instantiated
# via Class.forName() or used by test MIDlets not in ROM
#
DontRenameClass = com.sun.midp.io.j2me.ssl.Protocol

# Do not rename the following classes because they are accessed
# via KNI_FindClass
#

# Do not rename the following classes because their names are 
# checked during security subsystem initialization
#

# SSL
#DontRenameClass = com.sun.midp.io.j2me.ssl.Protocol$SecurityTrusted

# i3test

# These packages are hidden 
# Non-romized code is prevented from accessing even public methods/fields
# of classes in these packages
#
HiddenPackage = com.sun.midp.io.j2me.ssl

# These packages are restricted
# Non-romized code cannot load new classes into them
#

# Quick native functions are smaller in ROM footprint and are faster to invoke.
# Do not use quick native for Java native function calls that have
# KNIxxxNewxxx, SNIxxxNewxxx, Throw, and SNI_ statements.
#

# Do NOT do quick native the following classes
#
#QuickNative = javax.microedition.lcdui.Image.getRGB
#QuickNative = javax.microedition.lcdui.ImmutableImage.createImmutableCopy
#QuickNative = javax.microedition.lcdui.ImmutableImage.decodeImage
#QuickNative = javax.microedition.lcdui.ImmutableImage.decodeRGBImage
#QuickNative = javax.microedition.lcdui.MutableImage.createMutableImage
#QuickNative = javax.microedition.lcdui.Graphics.drawRGB

# Classes/methods that should be pre-compiled 
#

# Disable JIT-compilation for the following methods
#
